@media (max-width:768px){
    .panel{
        position: initial;
        width: initial;
        height: initial;
        
    }
    #particles-js{
        height: 900px;
    }

    .le{
        height:25rem;
        align-content: center;
       
    }
    .le h1{
        font-size: 2rem;
    }
    .le p{
        font-size: 1.2rem;
    }
    .type{
        font-size: 1.2rem;
    }
    .me{
        height: 31.25rem;
        font-size: 1rem;
    }
    .col-md-6.col-sm-12.me {
    margin-left: -3.33rem;
}
    #Work h1{
       font-size: 2.3rem;
    }
    .panel{
       margin:30px;
    }
    #about h1{
        font-size: 2rem;
    }
    .wrapper{
        margin-left: -10px;
    }
    .title{
        font-size: 1rem;
    }
    #Work h1{
        font-size: 2rem;
    }
    .proj{
        margin-left: -1.25rem;
    }
    #skills img{
        height: 130px;
        width: 130px;
    }
    .cover .content h1{
        font-size: 2rem;
    }
    footer h5{
        font-size: 1rem;
    }
    footer a{
        font-size: 1rem;
    }
}
