@media (max-width:768px){
    *{
        font-size: 1rem;
    }
    .panel{
        position: initial;
        width: initial;
        height: initial;
        
    }
    #particles-js{
        height: 200vh;
    }

    .le{
        height:100vh;
        align-content: center;
    }
    .me{
        height: 100vh;
    }
    .me p{
        top: 50%;
        left: 40%;
    }
    .le h1{
        font-size: 35px;
    }

    .Work{
        padding-top:-400px;
    }
    .panel{
       margin:30px;
    }
    .wrapper{
        margin-left: -10px;
    }
    .wrapper .button:nth-child(5) span{
    word-break: keep-all;
        width: 150px;
}
}
